/* carrusel */
.carousel-item img{
    max-height: 400px;
    margin-bottom: 3vh;
    object-fit: cover;

}
/* contenido index  */
p{
    font-family: "roboto"
}
#carouselExample{
    max-height: 500px !important;
}
