@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "_header";
@import "_contenido-index";
@import "_footer";
@import "_quienes-somos";
@import "_productos";
@import "_contacto";
@import "_servicios";
$rosa-mimadas:#F299B1;
@mixin titulos ($size , $separate) {
    font-family: "bebas neue";
    font-size: $size;
    letter-spacing: $separate;
}

.row{
    margin-right: 0 !important;
}

body{
    overflow-x: hidden;
    font-family: "Roboto";
}
#carouselExample{
    overflow-y: hidden;
}